.body {
    margin:5px;
}

.main {
    width        : 270px;
    background   : #fff;
    height       : auto !important;
    line-height  : 1.3em;
}

.category {
    color       : #696969;
    font-weight : bold;
    margin      : 0px 0px 10px;
}

.element {
    font-size    : 96%;
    margin       : 0px 10px 10px;
}

.link {
    color : #0000CD;
}

.bigFont {
    text-align : center;
}

.loginTable {
    margin-left  : auto;
    margin-right : auto;
}

.loginText {
    font-family : Tahoma;
}
